<h1> Calculator </h1>

    <p> Having trouble deciding how much you can afford to susu? Use our calculator to help you decide how much income you have to spare! </p>
        <br>

    <div class = "calculator">
    <td> How much do you earn a month (after taxes)?* <td width=”165″><input type= “text” name=”nprice” /></td>
    <tr>
        <br>
        <br>

    <td> Rent + Utilities + Bills/month <td width=”165″><input type= “text” name=”nprice” /></td>

      </div> 
        <br> 
        <br>

        <tr>
    <td height=”31″> How many people do you financially support? </td>
    <td><select name=”term”>

        <br>
        <br>
        <br>

      <option value=”1″> Myself </option>
      <option value=”2″>1-2</option>
      <option value=”3″> 2-3</option>
      <option value=”4″> 4+</option>
      </select> 
        <br>
        <br>
        <br>
      <button onclick="calcpayments()">Calculate</button>
        <br>
        <br>
      <b>Your estimated amount of extra income is: </b>
      <div id=”sugpayment”></div>
        <br>
        <button onclick="reset">Reset</button>