<SCRIPT LANGUAGE="JavaScript">
function fmtPrice(a) {
  result = "$" + Math.floor(a) + ".";
  var b = 100 * (a - Math.floor(a)) + 0;
  result += Math.floor(b / 10);
  result += Math.floor(b % 10);
  return result;
}
function compute() {
  var unformatted_tax = document.forms[0].cost.value * document.forms[0].tax.value;
  document.forms[0].unformatted_tax.value = unformatted_tax;
  var formatted_tax = fmtPrice(unformatted_tax);
  document.forms[0].formatted_tax.value = formatted_tax;
  var cost2 = eval(document.forms[0].cost.value);
  cost2 += eval(document.forms[0].cost.value * document.forms[0].tax.value);
  var total_cost = fmtPrice(cost2);
  document.forms[0].total_cost.value = total_cost;
}
function resetIt() {
  document.forms[0].cost.value = "";
  document.forms[0].tax.value = "";
  document.forms[0].unformatted_tax.value = "";
  document.forms[0].formatted_tax.value = "";
  document.forms[0].total_cost.value = "";
}
</SCRIPT>

<!DOCTYPE html>
<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <div class = "calculator">
      <h1> Calculator </h1>
      <p> How much can you Susu? Use our calculator to figure out the benefits of the Susu. Put in the amount you want to give daily. We will tell you how much you will have in the pool after time.
        <br>
        <br>
        <br>
        <center>
        <form>
          <table border="1px" cellpadding="" width="50%">
            <tr>
              <td align="left"><font size="+1"> Daily Deposit</font>
              </td>
              <td align="left"><font size="+1"> Participation Days</font>
              </td>
            </tr>
            <tr>
              <td align="center"><input name="cost" size="10" type="text" value="">
            </td>
            <td align="center"><input name="tax" size="10" type="text" value="">
          </td>
        </tr>
      </table>
      <br>
      <table border="1px" cellpadding="3" width="50%" position = "center">
        <tr>
          <td align="left"><font size="+1"> Daily Deposit * Days in the Susu </font>
          </td>
          <td align="left"><font size="+1">Total Deposit Amount in the Susu</font>
          </td>
        </tr>
        <tr>
          <td align="center"><input name="unformatted_tax" size="15" type=
            "text">
          </td>
          <td align="center"><input name="formatted_tax" size="15" type="text">
        </td>
      </tr>
    </table>
    <br>
    <div class ="buttons">
      <tr>
        <td align="center"><input onclick="resetIt()" type="reset" value=
          "RESET">
        </td>
        <td align="center"><input onclick="compute()" type="button" value=
          "COMPUTE">
        </td>
      </tr>
    </div>
  </form>
  </center>
</div>
</body>
</html>
</body>