	<div class="container">
			<h1>Dashboard</h1>
			<ul class="tab-group">
	        <li class="tab active"><a href="/deposit">Deposit</a></li>
	        <li class="tab"><a href="/withdraw">Withdraw</a></li>
	        <li class="tab"><a href="/susu">Create New SuSu</a></li>
	     	 </ul>
	     	 <h2> Transactions </h2>
	     	 <div class = table>
	     	 <div class = "row">
		<div class = "col-xs-3"> Date </div> 
		<div class = "col-xs-4">  Amount </div>
		<div class = "col-xs-5">  Balance </div>  
				</div> 

				<div class = "row">
		<div class = "col-xs-3"> Info from backend </div> 
		<div class = "col-xs-4">  Info from backend</div>
		<div class = "col-xs-5">  Info from backend </div>  
				</div> 
				</div>

			</p> 

			<br>
			<br>
			<br>
			
			<div class = "create">
			<h2> Interested in Starting a Susu? </h2> 
				<form action="susu">
    			<input type="submit" class="button_active" value="Create a Susu">
				</form>
	
			</div> 
	</div>
