{{!< default}}
<div class="container">

  <h1> Welcome Back {{user.name.first}}!</h1>
<h2>

  <br>
  <br>

  <img src= "http://cdn.rsvlts.com/wp-content/uploads/2014/09/jimi-hendrix-dollar-bill-currency-cash-art.jpg"/ width="400px" height="150px"> 
<ul class="tab-group">
  <br>
  <br>
  <li class="tab"><a href="/susu/new">Create New SuSu</a></li>
</ul>
</h2>
</div>
</div>