<div class = "container">

<h1> Withdrawal History </h1>

<br>
<br>

 <div class = table>
	     	<div class = "row">
		<div class = "col-xs-3"> Created Date </div> 
		<div class = "col-xs-4">  Amount </div>
		<div class = "col-xs-5">  Approval Date </div>  
				</div> 

				<div class = "row">
		<div class = "col-xs-3"> Info </div> 
		<div class = "col-xs-4">  Info </div>
		<div class = "col-xs-5">  Info </div>  
			</div> 
			</div>

<a href="/dashboard">Return to Dashboard </a>

</div>