{{!< default}}
<h1>New SUSU</h1>

<form action="/susu" method="post">
  {{#if error}}
  <h3>{{error}}</h3>
  {{/if}}

  <div>
    <input type="text" placeholder="title" name="susu[title]"></input>
  </div>
  
  <div>
    <textarea placeholder="description" name="susu[description]"></textarea>
  </div>
  
  <div>
    <input type="date" name="susu[startDate]"/>
  </div>
  
  <div>
    <input type="number" name="susu[share]" value="1000"/>
  </div>

  <div>
    <input type="text"  placeholder="name"  name="susu[members][0][name]"  value="A Smith"></input>
    <input type="email" placeholder="email" name="susu[members][0][email]" value="a@example.com"></input>
  </div>
  <div>
    <input type="text"  placeholder="name"  name="susu[members][1][name]"  value="B Smith"></input>
    <input type="email" placeholder="email" name="susu[members][1][email]" value="b@example.com"></input>
  </div>
  <div>
    <input type="text"  placeholder="name"  name="susu[members][2][name]"  value="C Smith"></input>
    <input type="email" placeholder="email" name="susu[members][2][email]" value="c@example.com"></input>
  </div>
  <div>
    <input type="text"  placeholder="name"  name="susu[members][3][name]"  value="D Smith"></input>
    <input type="email" placeholder="email" name="susu[members][3][email]" value="d@example.com"></input>
  </div>

  <div>
    <button type="submit">Create Susu</button>
  </div>
</form>

